@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: #333;
}

a {
    display: block;
    text-decoration: none;
}

header {
    display: flex;
    height: 80px;
}

.logo {
    background: #33333333;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.logo span {
    color: snow;
    font-size: 20pt;
    font-weight: 900;
    font-family: "바탕체";
    /* transition-property: transform; */
    /* transition-duration: 1s;
    transition-timing-function: ease-in-out; */

}

/* .logo:hover span {
    transform: translateY(-10px);

}

#t1 {
    transition: transform 0.5s ease-in-out;

}

#t2 {
    transition: transform 0.5s ease-in-out 0.1s;

}

#t3 {
    transition: transform 0.5s ease-in-out 0.2s;

}

#t4 {
    transition: transform 0.5s ease-in-out 0.3s;

}
#t5 {
    transition: transform 0.5s ease-in-out 0.4s;

} */


.logo:hover span {
    animation: logoWave 0.5s;
}

#t1 {
    animation: logoWave 0.5s ease-in-out 0s infinite alternate-reverse;
}

#t2 {
    animation: logoWave 0.5s ease-in-out 0.1s infinite alternate-reverse;
}

#t3 {
    animation: logoWave 0.5s ease-in-out 0.2s infinite alternate-reverse;
}

#t4 {
    animation: logoWave 0.5s ease-in-out 0.3s infinite alternate-reverse;
}

#t5 {
    animation: logoWave 0.5s ease-in-out 0.4s infinite alternate-reverse;
}


@keyframes logoWave {
    0% {}

    100% {
        transform: translateY(-10px);
    }
}

.nav {
    background: black;
    position: relative;
    width: 85%;
    z-index: 2;
}

.menu {
    display: flex;
    position: absolute;
    height: 30px;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
}

.menu>li>a {
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: beige;
}

.menu>li>a:hover {
    background: blanchedalmond;
    color: chocolate;
}

.sub {
    display: none;
}

.sub>li>a {
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: honeydew;
}

.sub>li>a:hover {
    background: blanchedalmond;
    color: chocolate;
}

.slideWrap {
    height: 400px;
    overflow: hidden;

}

@keyframes imgSlideMove {
    0% {}

    50% {
        transform: translateY(-400px);
    }

    100% {
        transform: translateY(-400px);
    }
}

.slideWrap li {
    width: 100%;
    height: 400px;
    position: relative;


}

.slideWrap img {
    width: 100%;
    height: 400px;
    object-fit: cover;

}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    text-align: center;
    color: white;
    tab-size: 25pt;
    fo background: rge;
}